/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timezone-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timezone-country {
    margin-left: 10px;
    margin-right: 10px;
}

.seperator {
    margin-left: 10px;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    margin: 10px;
    font-size: 40px;
}
*/

/* .current-position, .position-image, .position-coordinates {
    border: 1px solid red;
}

.temperature-main, .temperature, .temperature-description {
    border: 1px solid red;
}

.location, .city, .country, .country-flag {
    border: 1px solid red;
}

.temperature-info, .feelslike, .temp-min, .temp-max {
    border: 1px solid red;
}

.sun-info, .sunrise, .sunset, .sunrise-time, .sunset-time, .sunrise-img, .sunset-img {
    border: 1px solid red;
}

.extra-info, .pressure, .humidity, .visibility, .wind {
    border: 1px solid red;
}

.weather-icon {
    border: 1px solid red;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    /* border: 1px solid red; */
}

body,html {
    height: 100%;
    width: 100%;
}

.background-img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    overflow: hidden;
}

.current-position {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(99.44deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    opacity: 0.75;
    box-shadow: 0px 1px 24px -1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(80px);
    top: 30px;
    left: 30px;
    width: 250px;
    height: 100px;
    position: absolute;
}

#position-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#position-image img {
    margin: 5px;
    width: 50px;
    height: 50px;
}

.position-coordinates {
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: left;
    justify-content: space-between;
    font-size: 12px;
    line-height: 21px;
}

.location {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(99.44deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    opacity: 0.75;
    box-shadow: 0px 1px 24px -1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(80px);
    padding: 10px 30px;
    width: 275px;
    right: 30px;
    top: 30px;
    position: absolute;
}

.location .city, .location .country {
    font-size: 18px;
    margin: 5px;
}

.country-flag {
    display: flex;
    align-items: center;
    justify-items: center;
}

.country-flag img {
    width: 75%;
    height: 75%;
}

.temperature-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    top: 30px;
    left: 45%;
    padding: 10px;
    text-align: center;
    position: absolute;
}

.temperature {
    font-size: 36px;
}

.temperature > sup {
    font-size: 18px;
}

.temperature-description {
    font-style: italic;
}

.temperature-info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(99.44deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    opacity: 0.75;
    box-shadow: 0px 1px 24px -1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(80px);
    padding: 10px 20px;
    width: 200px;
    top: 50%;
    left: 30px;
    position: absolute;
    color: white;
}

.weather-icon {
    display: inline-block;
    top: 40%;
    left: 40%;
    position: absolute;
}

.weather-icon > img {
    width: 200px;
    height: 200px;
}

.sun-info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(99.44deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    opacity: 0.75;
    box-shadow: 0px 1px 24px -1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(80px);
    padding: 10px 30px;
    width: 250px;
    right: 30px;
    top: 50%;
    position: absolute;
    color: white;
}

.sunrise {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: none;
}

.sunrise-img {
    width: 50px;
    height: 50px;
}

.sunrise-img > img {
    width: 100%;
    height: 100%;
}

.sunset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sunset-img {
    width: 50px;
    height: 50px;
}

.sunset-img > img {
    width: 100%;
    height: 100%;
}

.extra-info {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(99.44deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    opacity: 0.75;
    box-shadow: 0px 1px 24px -1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(80px);
    padding: 10px 30px;
    margin: auto;
    bottom: 30px;
    right: 30px;
    left: 30px;
    position: absolute;
    color: white;
}